.signupBody{
    font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;

 


}

.signupBtn{
    color: white;
    background-color: turquoise;
    border-radius: 5px;
    border:none;
    margin-left: 2%;
    height: 25px;
    cursor: pointer;
} 